---
import { default as BaseLayout } from "../layouts/Base.astro";
---

<BaseLayout>
  <h1>Hello, Guess The Goose</h1>
  <main>
    <p>
      <a href="/sessions/create">Create Session</a>
    </p>
    <p>
      <a href="/sessions">Join Session</a>
    </p>
  </main>
</BaseLayout>
