---
import { default as BaseLayout } from "../layouts/Base.astro";
---

<BaseLayout>
  <h1>Hello, Astro!</h1>
  <main>
    <p>
      <button type="button">Create Session</button>
    </p>
    <p>
      <button type="button">Join Session</button>
    </p>
  </main>
</BaseLayout>
