---
import { css } from "../../styled-system/css";
import "../index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class={css({
      fontFamily: "'Inter', sans",
      fontWeight: 400,
      fontStyle: "normal",
      lineHeight: "1.5",
    })}
  >
    <header>
      <h1
        class={css({
          color: "#3fcf8e",
          fontSize: "1.75rem",
          fontWeight: 600,
          textTransform: "uppercase",
        })}
      >
        Guess The Goose
      </h1>
    </header>
    <slot />
    <footer>
      <p>
        Thinkered by <a href="/">Space-Otter</a>
      </p>
    </footer>
  </body>
</html>
