---
import { css } from "../../styled-system/css";
import "../index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class={css({
      fontFamily: "'Inter', sans",
      fontWeight: 400,
      fontStyle: "normal",
      lineHeight: "1.5",
    })}
  >
    <header>
      <h1
        class={css({
          color: "#3fcf8e",
          fontSize: "1.75rem",
          fontWeight: 600,
          textTransform: "uppercase",
        })}
      >
        Guess The Goose
      </h1>
      <p
        class={css({
          fontSize: "1.25rem",
          lineHeight: "1.33",
        })}
      >
        The goal of Hangman is to guess a hidden word by suggesting letters
        within a certain number of attempts. Players win if they guess the word
        before all attempts are used up.
      </p>
      <ol
        class={css({
          display: "flex",
          flexDirection: "column",
          gap: "1rem",
        })}
      >
        <li>
          One player (or the game system) chooses a secret word, which is hidden
          from the guessing player.
        </li>
        <li>
          If the guessed letter is in the word, all occurrences of that letter
          are revealed in their correct positions. If the letter is not in the
          word, the number of remaining attempts decreases, and part of the
          hangman figure is drawn.
        </li>
        <li>
          The guessing player wins if they correctly guess all the letters in
          the word before they run out of attempts.
        </li>
      </ol>
    </header>
    <slot />
    <footer>
      <p>
        Thinkered by <a href="/">Space-Otter</a>
      </p>
    </footer>
  </body>
</html>
